.red{
    color:crimson
}

nav.upper h1 h2{
    color:black
}
header {
    /* background-color: #0d6efd; Indian cricket team blue */
    background-color: white;
    /* border-radius: 20px;
     */
    border-radius: 0px 0 0 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: -2px;;
    color: #FF671F;
    padding: 10;
}

nav ul li {
    display: inline;
    margin-right: 100px;
    /* color: #FF671F;   */
}

nav ul li a {
    text-decoration:underline;
    color: #2c1c14;
    /* color: white; Text color for links */
}
/* In your external CSS file (styles.css) */
nav.upper {
    background-color: #FF671F;
    border-radius: 20px;

    /* background-color: #052c65; Indian cricket team blue */
    color: white;
    padding: 12px 0; /* Add some padding for spacing */
    text-align: center;
}